<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
</head>
<body>
<h1>Bienvenido al sistema de administración de usuarios</h1>

<div>
	Numero de usuarios: {{no_usuarios}}
</div>

<div>
	<ul>
		{% for usuario in usuarios %}
			<li>
				Usuario {{usuario.id}}:
				{{usuario.us_name}}
				{{usuario.us_lastname}}
				{{user.username}}
				{{usuario.us_email}}
				{{user.us_phone}}
				<a href="detalle_us/{{usuario.id}}">Ver detalle</a>
			</li>
		{% endfor %}

	</ul>
</div>


</body>
</html>